.schemaform-chapter-progress {
  display: none !important;
}

.progress-bar-segmented {
  display: none !important;
}

.schemaform-title {
  display: none !important;
}

.form-progress-buttons {
  display: none !important;
}
